# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Objectives: 
- List popular languages for Data Science.
- Name commonly used libraries in Data Science.
- List Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists are: 
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|----|
|Rstudio|
|APACHE Hadoop|
|TensorFlow|

### Below are a few examples of arithmetic expressions in Python

In [2]:
# this is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [3]:
# This will convert 200 mins to hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Rejan